
.menu{
        width: device-width;
        height: 55px;
        background-color: blue;
        border-radius: 50px 50px 50px 50px;
        display: flex;
        justify-content: space-around;
    }
    .titulo{
        margin-top:0px;
        margin-left:300px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:black;
       
    }
    .conteudo{
        margin-top:150px;
        margin-left: 380px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 300px;
        height: 200px;
    }
    .curso{
        margin-top:0px;
        margin-left:550px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 500px;
        height: 400px;
        display:inline-block;
    }
    .lista{
        margin-top:350px;
        margin-left:585px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 500px;
        height: 400px;
    }
    .not{
        margin-top:100px;
        margin-left:550px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 500px;
        height: 400px;
    }
    body:last-child #conteudo {
    
        background-color:rgba(0, 0, 0, 0.40);
    }
    .footer{
        width: device-width;
        height: 25px;
        background-color: blue;
        border-radius: 50px 50px 50px 50px;
        display: flex;
        justify-content: space-around;
        color:white;
        display: flex;
    }
    .btn{
        width: 110px;
        height:40px;
        border-radius: 50px 50px 50px 50px;
        margin-top:5px;
        background-color:blue;
        border-color:blue;
        border:none;
        color:white;
    }
    :hover.btn{
        background-color:cadetblue;
    }
    a{
        width: 0px;
        height: 0px
    }
    .comentarios{
        margin-left:900px;
        margin-top:-320px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 300px;
        height: 200px;
        display:inline-block;
    }
    .logo{
        width: 1060px;
        display: flex;
        height: 300px;
    }
    .adm{
        width:250px;
        height: 209px;
        background-image: url("adm.jpg");
        color:white;
        text-align: center;
        margin-left:1px;
        float:left;
    }
    a.fill-div{
        text-align: center;
        display: block;
        height: 100%;
        width: 100%;
        color: white;
        text-decoration: white;
    }
    .ads{
        width:250px;
        height: 209px;
        background-image: url("ads.jpg");
        color:white;
        float:left;
    }
    .bd{
        width:250px;
        height: 209px;
        background-image: url("bd.jpg");
        color:white;
        float:left;
    }
    .gt{
        width:250px;
        height: 209px;
        background-image: url("gti.jpg");
        color:white;
        float:left;
    }
    .jd{
        width:250px;
        height: 209px;
        background-image: url("jd.jpg");
        color:white;
        float:left;
    }
    .pg{
        width:250px;
        height: 209px;
        background-image: url("pg.jpg");
        color:white;
        float:left;
    }
    .pm{
        width:250px;
        height: 209px;
        background-image: url("pm.jpg");
        color:white;
        float:left;
    }
    .rc{
        width:250px;
        height: 209px;
        background-image: url("rc.jpg");
        color:white;
        float:left;
    }
    .si{
        width:250px;
        height: 209px;
        background-image: url("si.jpg");
        color:white;
        float:left;
    }
    .img{
        width:800px;
        height:420px;
        margin-left:-150px;
        display:flex;   
        margin-top:-300px;  
       justify-content:space-evenly;
        display:inline-block;
    }

    @media screen and (min-width: 400px) {
            .logo{
                width: 300px;
                display: flex;
                height: 200px;
                margin-left:150px; 
            }
             .menu{
                width: 600px;
                height: 55px;
                background-color: blue;
                border-radius: 50px 50px 50px 50px;
                display: flex;
                margin-left:5%;
                justify-content: space-around;
            }
            .footer{
            
                width: 600px;
                height: 25px;
                background-color: blue;
                border-radius: 50px 50px 50px 50px;
                display: flex;
                justify-content: space-around;
                margin-left:5%;
                color:white;
                display: flex;
            }
          .btn{
               
                width: 110px;
                margin-left:-50px;
                height:40px;
                border-radius: 50px 50px 50px 50px;
                margin-top:5px;
                background-color:blue;
                border-color:blue;
                border:none;
                color:white;
            }
         .conteudo{
                margin-top:50px;
                margin-left: 150px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                width: 300px;
                height: 200px;
                color:black;
            }
              .comentarios{
                margin-left:200px;
                margin-top:120px;
                width: 300px;
                height: 200px;
                display:inline-block;
                color:black;
            } 
    .adm{
        width:150px;
        height: 109px;
        background-image: url("adm.jpg");
        color:white;
        text-align: center;
        margin-left:1px;
        float:left;
    }
    .ads{
            width:150px;
            height:109px;
            background-image: url("ads.jpg");
            color:white;
            float:left;
        }
        .bd{
            width:150px;
            height:109px;
            background-image: url("bd.jpg");
            color:white;
            float:left;
        }
        .gt{
            width:150px;
            height:109px;
            background-image: url("gti.jpg");
            color:white;
            float:left;
        }
        .jd{
            width:150px;
            height:109px;
            background-image: url("jd.jpg");
            color:white;
            float:left;
        }
        .pg{
            width:150px;
            height:109px;
            background-image: url("pg.jpg");
            color:white;
            float:left;
        }
        .pm{
            width:150px;
            height:109px;
            background-image: url("pm.jpg");
            color:white;
            float:left;
        }
        .rc{
            width:150px;
            height:109px;
            background-image: url("rc.jpg");
            color:white;
            float:left;
        }
        .si{
            width:150px;
            height:109px;
            background-image: url("si.jpg");
            color:white;
            float:left;
        }
        .img{
            width:400px;
            height:420px;
            margin-left:-900px;
            display:flex;   
            margin-top:-300px;  
           justify-content:space-evenly;
            display:inline-block;
        }
        }
 @media screen and (min-width: 768px) {
    .logo{
        width: 700px;
        display: flex;
        height: 300px;
        margin-left:150px;
    }
     .menu{
        width: 700px;
        height: 55px;
        background-color: blue;
        border-radius: 50px 50px 50px 50px;
        display: flex;
        margin-left:20%;
        justify-content: space-around;
     }
    .footer{
        width: 700px;
        height: 25px;
        background-color: blue;
        border-radius: 50px 50px 50px 50px;
        display: flex;
        justify-content: space-around;
        margin-left:20%;
        color:white;
        display: flex;
    }
        .btn{
        width: 110px;
        margin-left:-50px;
        height:40px;
        border-radius: 50px 50px 50px 50px;
        margin-top:5px;
        background-color:blue;
        border-color:blue;
        border:none;
        color:white;
    }
        .conteudo{
        margin-top:150px;
        margin-left: 180px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 300px;
        height: 200px;
        color:black;
    }
      .comentarios{
        margin-left:600px;
        margin-top:-320px;
        width: 300px;
        height: 200px;
        display:inline-block;
        color:black;
    }
    .adm{
        width:170px;
        height:130px;
        background-image: url("adm.jpg");
        color:white;
        text-align: center;
        margin-left:1px;
        float:left;
    }
    .ads{
        width:170px;
        height:130px;
        background-image: url("ads.jpg");
        color:white;
        float:left;
    }
    
    .bd{
        width:170px;
        height:130px;
        background-image: url("bd.jpg");
        color:white;
        float:left;
    }
    
    .gt{
        width:170px;
        height:130px;
        background-image: url("gti.jpg");
        color:white;
        float:left;
    }
    
    .jd{
        width:170px;
        height:130px;
        background-image: url("jd.jpg");
        color:white;
        float:left;
    }
    
    .pg{
        width:170px;
        height:130px;
        background-image: url("pg.jpg");
        color:white;
        float:left;
    }
    .pm{
        width:170px;
        height:130px;
        background-image: url("pm.jpg");
        color:white;
        float:left;
    }
    
    .rc{
        width:170px;
        height:130px;
        background-image: url("rc.jpg");
        color:white;
        float:left;
    }
    .si{
        width:170px;
        height:130px;
        background-image: url("si.jpg");
        color:white;
        float:left;
    }
    .img{
        width:500px;
        height:420px;
        margin-left:-500px;
        display:flex;   
        margin-top:-300px;  
       justify-content:space-evenly;
        display:inline-block;
    }
}




/* 
 Com uma largura mínima de 992 pixels. Monitores por exemplo.
*/
@media screen and (min-width: 992px) {
    
    .logo{
        width: 900px;
        display: flex;
        height: 300px;
        margin-left:80px;
        
        
        
    }
   .menu{
    
        width: 1000px;
        height: 55px;
        background-color: blue;
        border-radius: 50px 50px 50px 50px;
        display: flex;
        margin-left:5%;
        justify-content: space-around;
        
    
    
    }

    .footer{
    
        width: 1000px;
        height: 25px;
        background-color: blue;
        border-radius: 50px 50px 50px 50px;
        display: flex;
        justify-content: space-around;
        margin-left:5%;
        color:white;
        display: flex;
    
    }

  .btn{
       
        width: 110px;
        margin-left:-50px;
        height:40px;
        border-radius: 50px 50px 50px 50px;
        margin-top:5px;
        background-color:blue;
        border-color:blue;
        border:none;
        color:white;
    
    }
 .conteudo{

    
     
        margin-top:150px;
        margin-left: 180px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 300px;
        height: 200px;
        color:black;
    
    }

      .comentarios{
    
        margin-left:600px;
        margin-top:-320px;
        width: 300px;
        height: 200px;
        display:inline-block;
        color:black;
    }
    .adm{
        width:190px;
        height:150px;
        background-image: url("adm.jpg");
        color:white;
        text-align: center;
        margin-left:1px;
        float:left;
    }
    .adm{
        width:190px;
        height:150px;
        background-image: url("adm.jpg");
        color:white;
        text-align: center;
        margin-left:1px;
        float:left;
    }
    .ads{
        width:190px;
        height:150px;
        background-image: url("ads.jpg");
        color:white;
        float:left;
    }
    
    .bd{
        width:190px;
        height:150px;
        background-image: url("bd.jpg");
        color:white;
        float:left;
    }
    
    .gt{
        width:190px;
        height:150px;
        background-image: url("gti.jpg");
        color:white;
        float:left;
    }
    
    .jd{
        width:190px;
        height:150px;
        background-image: url("jd.jpg");
        color:white;
        float:left;
    }
    
    .pg{
        width:190px;
        height:150px;
        background-image: url("pg.jpg");
        color:white;
        float:left;
    }
    .pm{
        width:190px;
        height:150px;
        background-image: url("pm.jpg");
        color:white;
        float:left;
    }
    
    .rc{
        width:190px;
        height:150px;
        background-image: url("rc.jpg");
        color:white;
        float:left;
    }
    .si{
        width:190px;
        height:150px;
        background-image: url("si.jpg");
        color:white;
        float:left;
    }
    .img{
        width:600px;
        height:420px;
        margin-left:-550px;
        display:flex;   
        margin-top:-300px;  
       justify-content:space-evenly;
        display:inline-block;
    }
}

/* 
 Dispositivos com largura mínima de 1200 pixels. Por exemplo TVs.
*/
@media screen and (min-width: 1200px) {

    .logo{
        width: 700px;
        display: flex;
        height: 300px;
        margin-left:450px;
        
}


 .menu{
    
        width: 1200px;
        height: 55px;
        background-color: blue;
        border-radius: 50px 50px 50px 50px;
        display: flex;
        margin-left:15%;
        justify-content: space-around;
        
    
    
    }

    .footer{
    
        width: 1200px;
        height: 25px;
        background-color: blue;
        border-radius: 50px 50px 50px 50px;
        display: flex;
        justify-content: space-around;
        margin-left:15%;
        color:white;
        display: flex;
    
    }

  .btn{
       
        width: 110px;
        margin-left:-50px;
        height:40px;
        border-radius: 50px 50px 50px 50px;
        margin-top:5px;
        background-color:blue;
        border-color:blue;
        border:none;
        color:white;
    
    }
 .conteudo{

    
     
        margin-top:150px;
        margin-left: 380px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 300px;
        height: 200px;
        color:black;
    
    }

      .comentarios{
    
        margin-left:1060px;
        margin-top:-320px;
        width: 300px;
        height: 200px;
        display:inline-block;
        color:black;
    }
    .adm{
        width:250px;
        height:209px;
        background-image: url("adm.jpg");
        color:white;
        text-align: center;
        margin-left:1px;
        float:left;
    }
    .ads{
        
            width:250px;
            height:209px;
            background-image: url("ads.jpg");
            color:white;
            float:left;
        }
        
        .bd{
            width:250px;
            height:209px;
            background-image: url("bd.jpg");
            color:white;
            float:left;
        }
        
        .gt{
            width:250px;
            height:209px;
            background-image: url("gti.jpg");
            color:white;
            float:left;
        }
        
        .jd{
            width:250px;
            height:209px;
            background-image: url("jd.jpg");
            color:white;
            float:left;
        }
        
        .pg{
            width:250px;
            height:209px;
            background-image: url("pg.jpg");
            color:white;
            float:left;
        }
        .pm{
            width:250px;
            height:209px;
            background-image: url("pm.jpg");
            color:white;
            float:left;
            
        }
        
        .rc{
            width:250px;
            height:209px;
            background-image: url("rc.jpg");
            color:white;
            float:left;
        }
        .si{
            width:250px;
            height:209px;
            background-image: url("si.jpg");
            color:white;
            float:left;
        }
        .img{
            width:800px;
            height:420px;
            margin-left:-150px;
            display:flex;   
            margin-top:-300px;  
           justify-content:space-evenly;
            display:inline-block;
        }
}
    